<!-- including header in index page -->
    <% include partials/header %>
    <div class="jumbotron"><h2 >Welcome to <%= title %></h2></div>
  <!-- including footer in index page -->  
    <% include partials/footer %> 
    
